{{#models}}
{{#model}}
#pragma once

{{/model}}
{{/models}}
{{#imports}}
{{{import}}}
{{/imports}}
#include "Object.h"

{{#models}}
{{#model}}
class COGNITECDF_API {{classname}} : public Object
{
	GENERATED_BODY()

public:

	char* toJson();
	void fromJson(char* jsonStr);


	{{#vars}}
	
	UPROPERTY(BlueprintReadWrite, EditAnywhere)
	{{dataType}}{{#isContainer}}{{#isMapContainer}}<FString, FString>{{/isMapContainer}}{{^isMapContainer}}<{{#items}}{{dataType}}{{/items}}>{{/isMapContainer}}{{/isContainer}} {{name}};
	{{/vars}}
};
{{/model}}
{{/models}}

