{{#models}}
{{#model}}
#pragma once

#include "Object.h"
{{/model}}
{{/models}}
{{#imports}}
{{{import}}}
{{/imports}}
{{#models}}
{{#model}}

{{^isEnum}}
#include "{{classFilename}}.generated.h"

USTRUCT()
struct COGNITECDF_API {{classname}} : public Object
{
	GENERATED_BODY()

	char* toJson();
	void fromJson(char* jsonStr);


	/**
	* Required parameters
	*/

	{{#requiredVars}}
	{{#isContainer}}{{dataType}}{{#isMapContainer}}< FString, {{#items}}{{#isModel}}{{#isEnum}}TEnumAsByte<{{/isEnum}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{/items}}>{{/isMapContainer}}{{^isMapContainer}}<{{#items}}{{#isModel}}{{#isEnum}}TEnumAsByte<{{/isEnum}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}>{{/isModel}}{{/items}}>{{/isMapContainer}}{{/isContainer}}{{^isContainer}}{{#isModel}}{{#isEnum}}TEnumAsByte<{{/isEnum}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}>{{/isModel}}{{/isContainer}} {{name}};
	{{/requiredVars}}
	
	/**
	* Optional parameters
	*/

	{{#optionalVars}}
	TOptional<{{#isContainer}}{{dataType}}{{#isMapContainer}}<FString, {{#items}}{{#isModel}}{{#isEnum}}TEnumAsByte<{{/isEnum}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}>{{/isModel}}{{/items}}>{{/isMapContainer}}{{^isMapContainer}}<{{#items}}{{#isModel}}{{#isEnum}}TEnumAsByte<{{/isEnum}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}>{{/isModel}}{{/items}}>{{/isMapContainer}}{{/isContainer}}{{^isContainer}}{{#isModel}}{{#isEnum}}TEnumAsByte<{{/isEnum}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}>{{/isModel}}{{/isContainer}}> {{name}};
	{{/optionalVars}}
};
{{/isEnum}}
{{#isEnum}}
UENUM(BlueprintType)
enum class {{classname}} : uint8
{
  	{{#allowableValues}}
	{{#enumVars}}
	{{name}}{{^-last}},{{/-last}}
	{{/enumVars}}
	{{/allowableValues}}
};
{{/isEnum}}
{{/model}}
{{/models}}

