{{#models}}
{{#model}}
#pragma once

{{/model}}
{{/models}}
{{#imports}}
{{{import}}}
{{/imports}}
{{#models}}
{{#model}}
{{^isEnum}}
{{^parent}}#include "Object.h"{{/parent}}
#include "{{classFilename}}.generated.h"


USTRUCT()
struct COGNITECDF_API {{classname}} : public {{#parent}}{{parent}}{{/parent}}{{^parent}}Object{{/parent}}
{
	GENERATED_BODY()
	//
	// Required parameters
	//
	{{#vars}}
	{{#required}}
	{{#isContainer}}{{dataType}}{{#isMapContainer}}< FString, {{#items}}{{#isModel}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}{{^isEnum}}>{{/isEnum}}{{/isModel}}{{/items}}>{{/isMapContainer}}{{^isMapContainer}}<{{#items}}{{#isModel}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}{{^isEnum}}>{{/isEnum}}{{/isModel}}{{/items}}>{{/isMapContainer}}{{/isContainer}}{{^isContainer}}{{#isModel}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}{{^isEnum}}>{{/isEnum}}{{/isModel}}{{/isContainer}} {{name}};
	{{/required}}
	{{/vars}}
	
	//
	// Optional parameters
	//
	{{#vars}}
	{{^required}}
	TOptional<{{#isContainer}}{{dataType}}{{#isMapContainer}}< FString, {{#items}}{{#isModel}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}{{^isEnum}}>{{/isEnum}}{{/isModel}}{{/items}}>{{/isMapContainer}}{{^isMapContainer}}<{{#items}}{{#isModel}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}{{^isEnum}}>{{/isEnum}}{{/isModel}}{{/items}}>{{/isMapContainer}}{{/isContainer}}{{^isContainer}}{{#isModel}}{{^isEnum}}TSharedPtr<{{/isEnum}}{{/isModel}}{{dataType}}{{#isModel}}{{^isEnum}}>{{/isEnum}}{{/isModel}}{{/isContainer}}> {{name}};
	{{/required}}
	{{/vars}}

	//
	// Serialization functions
	//
	void SerializeToJson(TSharedPtr<class FJsonObject>& OutJsonObject) const;
	bool InitFromJson(const TSharedPtr<class FJsonObject>& JsonObject);
};
{{/isEnum}}
{{#isEnum}}
UENUM(BlueprintType)
enum class {{classname}} : uint8
{
  	{{#allowableValues}}
	{{#enumVars}}
	{{name}}{{^-last}},{{/-last}}
	{{/enumVars}}
	{{/allowableValues}}
};
{{/isEnum}}
{{/model}}
{{/models}}

